/* 
Style the website you made last week using CSS with the following requirements:
Use only external CSS file (no internal or inline styling)
Every element must be styled.
Create style rules using class, id, and element selectors.
*/

/* ---ELEMENT SELECTORS--- */

html {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(180deg, #ffffff, #ffffff, #8b8f8f);
  }
  body {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 5rem;
    margin-left: 5rem;
  }
  h1 {
    text-align: left;
    filter: drop-shadow (2px 2px 1px #0f6a9e);
    }
  h2 {
    margin: 4rem auto 1rem auto;
    text-align: left
  }
  h3 {
    margin: 4rem auto 1rem auto;
    text-align: left
  }

iframe {
    /*--- This CSS is styling the elements, but the
        object needed to be larger for the CSS to down-size
        it (will not enlarge), thus in the in-line 
        width / height being specified at 
        560 / 315 respectively    ---*/
    max-width: 500px;
    max-height: 300px;
     ;
}   

  img {
    max-width: 420px;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px 1px rgba(0,0,0, 0.5)
  }

  nav {
    display: flex;
    justify-content: flex-end;
    column-gap: 0.8rem ;
  }

    ol {
    padding: 20px;
    background-color: #d6412770;
  }
  
  ol li {
    padding: 10px 0;
  }
  ul {
    padding: 20px;
    background-color: #e4e2e2;
  }
  
    table, th, td {
        border:1px solid rgb(0, 0, 0);
        background-color: #dde6e6;
        padding: 5px
    }
  form {
    background-color : rgb(109, 119, 133);
    color : #f3f2f2;
  }
  /* ---CUSTOM CLASS NAME SELECTORS--- */
  
.FRIA-DIAGRAM {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
}



.FRIA-SITESIMG {
    display: flex;
    padding: 1rem;
    justify-content: space-around

}
.vidswrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

/* --- ID SELECTOR --> */
#MainLogo {
    margin-left: 1rem;
    box-shadow: none;
    max-width: 200px;
}

#YTVideos {
    margin-left: 1rem;
    box-shadow: none;
    max-width: 200px;
}

#FRIASiteIMG {
    margin-left: 1rem;
    box-shadow: none;
    max-width: 200px;
}
